name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
      build:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v2
          - uses: actions/setup-node@v2
          - name: Install Dependencies
            run: npm install
          - name: Build Website
            run: npm run build
          - name: Set AWS Credentilas
            uses: aws-actions/configure-aws-credentials@v1
            with:
              aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
              aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
              aws-region: ap-south-1
           - name: Copy to S3
              run: aws s3 sync ./build/. s3://cai-code-test-bucket

